<div class = "main_view">
  <div class = "main_picture">
   <div class = "main_text">
   これはツイッター風アプリです
   </div>
   <img src ="http://o.aolcdn.com/hss/storage/midas/5d7db5caeef950c05866f7763194ada/204348455/main.jpg" width = "50%">
  </div>
</div>
